body {
	font-family: 'Open Sans', sans-serif;
	display: block;
	overflow-x: hidden;
}
div.all {
     height: 120%;
		 overflow: scroll;
     left:0;
     right: 0;
     top: 0;
     bottom: 0;
     position: absolute;
     background: linear-gradient(124deg, #E8FFC1, #D1FFC1, #C1FFD4, #C1FFEA, #C1FCFF, #C1F4FF);
     background-size: 1800% 1800%;
     -webkit-animation: rainbow 20s ease infinite;
     -z-animation: rainbow 20s ease infinite;
     -o-animation: rainbow 20s ease infinite;
     animation: rainbow 20s ease infinite;
}
@-webkit-keyframes rainbow {
     0%{
        background-position:0% 82%
    }
     50%{
        background-position:100% 19%
    }
     100%{
        background-position:0% 82%
    }
}
@-moz-keyframes rainbow {
     0%{
        background-position:0% 82%
    }
     50%{
        background-position:100% 19%
    }
     100%{
        background-position:0% 82%
    }
}
@-o-keyframes rainbow {
     0%{
        background-position:0% 82%
    }
     50%{
        background-position:100% 19%
    }
     100%{
        background-position:0% 82%
    }
}
@keyframes rainbow {
     0%{
        background-position:0% 82%
    }
     50%{
        background-position:100% 19%
    }
     100%{
        background-position:0% 82%
    }
}
div.p {
  font-size: 20px;
  color: #010101;
  margin: 0px;
}
div.a {
	padding: 1% 0% 2% 1%;
	position: relative;
	height: auto;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 0 8px 6px -6px grey;
	-moz-box-shadow: 0 8px 6px -6px grey;
	box-shadow: 0 8px 6px -6px grey;
	background-color: rgba(255, 255, 255, 0.75);
}
div.intro {
	position: relative;
	margin-top: 5%;
	padding: 1%;
	text-align: center;
}
div.bios {
	position: absolute;
	width: 99%;
	padding: 1%, 0%, 0%, 0%;
  float: left;
	background-color: rgba(0, 0, 0, 0.05);
}
div.p1 {
  float: left;
	padding: 5%;
	text-align: center;
	border: 5px;

}
div.p2 {
  float: left;
	padding: 5%;
	text-align: center;
	border: 5px;

}
div.p3 {
  float: left;
	padding: 5%;
	text-align: center;
	border: 5px;

}
div.p4 {
	float: left;
	padding: 5%;
	text-align: center;

}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a.nav-links:hover {
  text-decoration: none;
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}
a:active {
  color: black;
  text-decoration: none;
}
.social-links {
	font-style: italic;
	font-size: 10px;
	float: left;
}
#circle {
border-radius:50%;
width:200px;
height:200px;
background-position: center center;
background-size: cover;
}
