body {
	font-family: 'Open Sans', sans-serif;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

label {
	font: Verdana;
	color: rgb(84, 90, 112);
}

input:invalid {
  border: 2px solid red;
}

/* Styles whole page,
rainbow transition code from https://codepen.io/nohoid/pen/kIfto*/

/* Styles whole page */

.all {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #E8FFC1, #D1FFC1, #C1FFD4, #C1FFEA, #C1FCFF, #C1F4FF);
	background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

/* Inputs section on home page */
.leftside {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Right side of home page */
.rightside {
	display: block;
	background-color: white;
	width: 75%;
	height: 100%;
	position: relative;
  float: right;
	text-align: left;
}

/* Navigation bar */
.navigation {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1% 0% 1.5% 1%;
	position: relative;
	background-color: rgba(255, 255, 255, 0.75);
}

/* Titles of inputs. Eg: Domain: */
.a {
	position: relative;
	padding: 3.5%;
}

/* Graph it button */
.divbtn {
	position: relative;
	padding: 10%;
	padding-bottom: 27%;
	text-align: center;
}

/* Clear graph button */
.divbtnA {
	position: relative;
	float: right;
	text-align: center;
	width: 10%;
}

.b {
	position: relative;
	padding-left: 10%;
}

/* Area calculation */
.area {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0.7%;
	text-align: left;
	display: block;
	background: linear-gradient(to right, #E8FFC1, #D1FFC1, #C1FFD4, #C1FFEA, #C1FCFF, #C1F4FF);
	background-size: 2000% 2000%;
	-webkit-animation: rainbow 10s ease infinite;
	-z-animation: rainbow 10s ease infinite;
	-o-animation: rainbow 10s ease infinite;
	animation: rainbow 10s ease infinite;
}

/* The title "Area" and its value*/
.areaWord {
	float: left;
}

h1 {
	font-size: 30px;
	color: black;
	margin: 0px;
}

h3 {
	font-size: 22px;
	color: black;
	margin: 0px;
	margin-left: 1%;
}

/* Code for radios inspired by https://codepen.io/AngelaVelasquez/pen/Eypnq */
.functContainer {
	display: block;
	position: relative;
	height: auto;
	width: 90%;
	left: 5%;
	overflow: hidden;
	padding: 1px;
}

.functContainer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.functContainer li.hover {
	background-color: black;
}

.functContainer li.selected {
	background-color: rgba();
}

.funcList {
	background: rgb(255, 255, 255, 0.75);
}

ul li {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 10px solid transparent;
}

ul li input[type=radio] {
	position: relative;
	visibility: hidden;
}

ul li label {
	display: block;
	position: relative;
	font-weight: 150;
	padding: 16px 10px 0px 20px;
	height: 35px;
	z-index: 9;
	cursor: pointer;
	top: -20px;
	-webkit-transition: all 0.25s linear;
}

ul li:hover label {
	background-color: rgb(0, 0, 0, 0.1);
}

ul li.check {
	display: block;
	position: absolute;
	top: 15px;
	left: 10px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li.check::before {
	display: block;
	position: absolute;
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	border: 3px solid;
}

input[type=radio]:checked~.check::before {
	background: black;
}

input[type=radio]:checked~label {
	color: black;
	background-color: rgba(0, 0, 0, 0.1);
}

#var {
	display: none;
}

#varABC {
	display: none;
}

#numRect {
	display: none;
}

#widthNum {
	display: none;
}

#widthrectrad {
	overflow: hidden;
}

p.smallgrey {
	font-family: 'Open Sans', sans-serif;
	color: rgb(84, 90, 112);
	font-size: 10px;
}

/* The graph */
.graphImg {
	background-color: white;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.p {
  font-size: 20px;
  color: black;
  margin: 0px;
}

/* Row of people */
.bios {
	margin-top: 4%;
	display: flex; /* horizontally spaced and aligned */
	justify-content: space-around;
}

/* Person 1, 2, 3, 4 */
.p1 {
	display: inline-block;
	position: relative;
	padding: 1%;
	width: 20%;
	text-align: center;
	border: 2px solid;
}

/* Link styling */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}

/* Formats navigation bar links and makes them bigger when hover */
a.nav-links:hover {
  text-decoration: none;
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}

/* Styling links to GitHub and email on about page */
.social-links {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 2%;
	text-align: center;
	font-style: italic;
	font-size: 10px;
}

/* Circular profile photos */
#circle {
	border-radius: 100%;
	height: 200px;
	width: 200px;
	object-fit: cover; /* Makes sure image isn't stretched */
	background-position: center;
}

/* Button stuff */
.submit {
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #333;
	box-sizing: border-box;
	appearance: none;
	border-radius: 0.2em;
	color: #333;
	line-height: 1;
	transition: box-shadow 300ms ease-in-out, color .2s ease-in-out;
	-webkit-transition: 0.2s linear;
	text-align: center;
	padding: 5%;
}
.submit:hover {
	box-shadow: 0 0 40px 40px black inset;
	color: #fff;
	outline: 0;
}
.submit:active {
	position: relative;
	top: .5px;
}

/* About and instructions page styling */
.content {
	position: relative;
	text-align: center;
	height: 100%;
	padding: 2%;
}

.instructions {
	margin: 0 auto; /* Centers the instructions */
	width: 80%;
	text-align: center;
	padding: 2%;
}

ol li {
	font-size: 20px;
	margin-left: 1%;
	padding: 1%;
}

ol span {
	margin-left: 2%;
	color: grey;
}

ol {
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: left;
}

/* Rainbow background stuff */
@-webkit-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}
@-moz-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}
@-o-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}
@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}

/** THE FOLLOWING CODE IS FROM: https://css-tricks.com/snippets/css/typewriter-effect/ **/
.typewriter h1 {
	font-family: sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 10s steps(100, end),
    blinking-cursor .5s step-end infinite;
	margin-top: 1%;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
