<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="all">
      <div class="navigation">
          <h1><a href="/" style="float:left;">Integral Visualizer</a></h1>
          <h2><a href="/learnmore.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Learn More</a></h2>
          <h2><a href="/about.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">About</a></h2>
          <h2><a href="/" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Home</a></h2>
      </div>
      <div class="content">
        <div class="intro">
          <p>The Integral Visualizer is designed to help students who are beginning to explore integrals.
            This project was a part of the Northwest Advanced Programming Workshop that took place in the
            Summer of 2019.
          </p>
        </div>
        <div class="bios">
          <div class="p1">
              <img src="graph.jpg" alt="Browser error: image not loading" id="circle">
              <h2>Vidisha G.</h2>
              <p>Bio</p>
              <p><a href="https://github.com/vidisha-gupta" target="_blank" class="social-links">GitHub</a></p>
              <p class="social-links">|</p>
              <p><a href="mailto:vidishag20@lakesideschool.org" class="social-links"> Email</a></p>
          </div>
          <div class="p1">
            <img src="graph.jpg" alt="Browser error: image not loading" id="circle">
            <h2>Riley C.</h2>
            <p>Riley Crahen is a senior from Santa Cruz, California. He learned the basics of Django to help create
                a backend for this website. He enjoys surfing and playing water polo for his high school team.
                His favorite part of this project was working with some very smart people on a project he was deeply invested in.
            </p>
            <p><a href="https://github.com/rilescode" target="_blank" class="social-links">GitHub</a></p>
            <p class="social-links">|</p>
            <p><a href="mailto:rileycrahen@gmail.com" class="social-links">Email</a></p>
          </div>
          <div class="p1">
            <img src="graph.jpg" alt="Browser error: image not loading" id="circle">
            <h2>Ella R.</h2>
            <p>Bio</p>
            <p><a href="https://github.com/eramosoneill" target="_blank" class="social-links">GitHub</a></p>
            <p class="social-links">|</p>
            <p><a href="mailto:ivyleaf09@gmail.com" class="social-links">Email</a></p>
          </div>
          <div class="p4">
            <img src="graph.jpg" alt="Browser error: image not loading" id="circle">
            <h2>Mark G.</h2>
            <p>Bio</p>
            <p><a href="https://github.com/alephnull14177" target="_blank" class="social-links">GitHub</a></p>
            <p class="social-links">|</p>
            <p><a href="mailto:" class="social-links">Email</a></p>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>
