<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>egg</title>
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="all">
      <div class="egg">
        <h1 style="font-family: "Comic Sans MS", "Comic Sans", cursive;">Dedicated to Riley, who ditched us.</h1>
        <br>
        <img src="{%static 'img/egg.jpg' %}" alt="an egg" style="width:300px">
        <h4>July 15 2019 - July 26 2019</h4>
      </div>
    </div>
  </body>
</html>
