<!DOCTYPE html>
<HTML lang="en" dir="ltr">
   <head>
      @import url(http://fonts.googleapis.com/css?family=Open+Sans);
      {% load static %}
      <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
      <link href="{% static 'favicon.ico'" rel="shortcut icon" type="image/x-icon">
      <script src="{% static 'js/script.js'%}"> </script>
   </head>
   <header>
     <title>Home</title>
   </header>
   <form action = '.' method = 'POST'>
      {% csrf_token %}
      <body>
         <div class="all">
            <div class="navigation">
               <h1><a href="/" style="float:left;">Integral Visualizer</a></h1>
               <h2><a href="/learnmore.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Learn More</a></h2>
               <h2><a href="/about.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">About</a></h2>
               <h2><a href="/instructions.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Instructions</a></h2>
               <h2><a href="/" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Home</a></h2>
            </div>
            <div class="leftside">
               <div class="a">
                  <h3>Select a skeleton function:</h3>
               </div>
               <div class="functContainer">
                  <ul>
                     <li>
                        <input onchange="aprVarTtlAB()" style="cursor:pointer" id="Linear"
                           type="radio" name="function-type" required value="0">
                        <label for="Linear"> <strong>Linear:</strong> f(x) = Ax+B</label>
                        <div class="check"></div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlABC()" style="cursor:pointer" id="Quadratic"
                           type="radio" name="function-type" required value="1">
                        <label for="Quadratic"> <strong>Quadratic:</strong> f(x) = Ax<sup>2</sup>+Bx+C</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlABCD()" style="cursor:pointer" id="Cubic"
                           type="radio" name="function-type" required value="2">
                        <label for="Cubic"> <strong>Cubic:</strong> f(x) = Ax<sup>3</sup>+Bx<sup>2</sup>+Cx+D</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlABCD()" style="cursor:pointer" id="Sine"
                           type="radio" name="function-type" required value="3">
                        <label for="Sine"> <strong>Sine: </strong> f(x) = Asin(Bx+C)+D</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlABCD()" style="cursor:pointer" id="Cosine"
                           type="radio" name="function-type" required value="4">
                        <label for="Cosine"> <strong>Cosine: </strong> f(x) = Acos(Bx+C)+D</label>
                        <div class="check"></div>
                        <div class="inside"></div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlAB()" style="cursor:pointer" id="e^x"
                           type="radio" name="function-type" required value="5">
                        <label for="e^x"> <strong>e<sup>x</sup>:</strong> f(x) = Ae<sup>x</sup>+B</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input onchange="aprVarTtlAB()" style="cursor:pointer" id="Natural Log"
                           type="radio" name="function-type" required value="6">
                        <label for="Natural log"> <strong>Natural Log:</strong> f(x) = Aln(x)+B</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="a" id="var">
                  <h3>Constants</h3>
               </div>
               <div id="varABC" class="b">
                  <p> </p>
                  <label id="ALbl">A:</label>
                  <input id="Abox" type="number" name="a" placeholder="eg " onkeypress="isInNum(event)" required value="1">
                  <p> </p>
                  <label id="BLbl">B:</label>
                  <input id="Bbox" type="number" name="b" placeholder="eg " onkeypress="isInNum(event)" required value="1">
                  <p> </p>
                  <label id="CLbl" >C:</label>
                  <input id="Cbox" type="number" name="c" placeholder="eg " onkeypress="isInNum(event)" value="1">
                  <p> </p>
                  <label id="DLbl" >D:</label>
                  <input id="Dbox" type="number" name="d" placeholder="eg " onkeypress="isInNum(event)" value="1">
               </div>
               <div class="a">
                  <h3>Domain:</h3>
               </div>
               <div class="b">
                  <label>x-min:</label>
                  <input id = "xmin" name = "xmin" type="number" placeholder="x-min"
                     oninput="getMinMax()" onkeypress="isInNum(event)" required value="-10">
                  <p> </p>
                  <label>x-max:</label>
                  <input id = "xmax" name = "xmax" type="number" placeholder="x-max"
                     oninput="getMinMax()" onkeypress="isInNum(event)" required value="10">
                  <p class = "smallgrey" id = "domainMessage"></p>
               </div>
               <div class="a">
                  <h3>Sum type:</h3>
               </div>
               <div class="functContainer">
                  <ul>
                     <li>
                        <input  style="cursor:pointer" onchange="OtherAllOpt()" id="Left" type="radio" name="sumtype" required value="0">
                        <label for="Left">Left endpoint</label>
                        <div class="check"></div>
                     </li>
                     <li>
                        <input  style="cursor:pointer" onchange="OtherAllOpt()" id="Right" type="radio" name="sumtype" required value="1">
                        <label for="Right">Right endpoint</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input  style="cursor:pointer" onchange="OtherAllOpt()" id="Mid" type="radio" name="sumtype" required value="2">
                        <label for="Mid">Midpoint</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input  style="cursor:pointer" onchange="OtherAllOpt()" id="Trap" type="radio" name="sumtype" required value="3">
                        <label for="Trap">Trapezoidal</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                     <li>
                        <input  style="cursor:pointer" onchange="SimRectOnly()" id="Simp" type="radio" name="sumtype" required value="4">
                        <label for="Simp">Simpson</label>
                        <div class="check">
                           <div class="inside"></div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div id="widthRect">
                 <div class="a">
                    <h3>Unit and amount:</h3>
                 </div>
                 <div class="functContainer" >
                    <ul id="widthrectrad">
                       <li id="widthOpt">
                          <input onchange="aprWidthNum()" style="cursor:pointer" id="width" type="radio" name="width-rect"required value="0" >
                          <label for="width">Width</label>
                          <div class="check"></div>
                       </li>
                       <li id="rectOpt">
                          <input onchange="aprNumRect()" style="cursor:pointer" id="rectangles" type="radio" name="width-rect"required value="1">
                          <label for="rectangles">Rectangles</label><br>
                          <div class="check">
                             <div class="inside"></div>
                          </div>
                       </li>
                    </ul>
                 </div>
               </div>
               <div id= "numRect" class="b">
                  <p> </p>
                  <label># of rectangles:</label>
                  <input type="number" onkeypress= "isInPosNum(evt);" oninput="rectBoxInpt(event)" id="numrectbox" name="rct-amnt" value="10">
                  <p class = "smallgrey" id = "rectMessage"></p>
                  <p> </p>
               </div>
               <div id= "widthNum" class="b">
                  <p> </p>
                  <label>Width:</label>
                  <input type="number"  onkeypress="isInPosNum(event)"id="widthbox" name="wdth-amnt" value="1">
                  <p class = "smallgrey" id = "widthMessage"></p>
                  <p> </p>
               </div>
               <div class="divbtn">
                  <input type= "submit" class="submit" value="GRAPH IT!"></input>
               </div>
            </div>

            <div class="rightside">
                <div class="area">
      			       <div class="areaWord">
      				        <h1>Area: {{ my_sum }} </h1>
      				     </div>
                   <div class="divbtnA">
                      <a href="/"><input type= "button" class="submit" value="Clear"></input></a>
      				    </div>
               </div>
               <div class="graphImg">
                  <img src="{%static 'img/graphTest3.png' %}" alt=":(" onerror=this.src="{%static 'img/graphTemplate.png' %}"
                  width="70%" height="100%">
               </div>
            </div>
         </div>
      </body>
   </form>
</HTML>
