<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Instructions</title>
  </head>
  <body>
    <div class="all">
      <div class="navigation">
         <h1><a href="/" style="float:left;">Integral Visualizer</a></h1>
         <h2><a href="/learnmore.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Learn More</a></h2>
         <h2><a href="/about.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">About</a></h2>
         <h2><a href="/instructions.html" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Instructions</a></h2>
         <h2><a href="/" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Home</a></h2>
      </div>
      <div class="content">
        <div class="typewriter">
          <h1>Confused?</h1>
        </div>
        <br>
        <p>This site was built as a tool for calculus students who are beginning to explore integrals.
          To learn more about integrals, check out the <a href="/learnmore.html">"Learn More"</a> page.</p>
        <div class="instructions">
          <ol>
            <li>Select a function.</li>
            <li>Fill in values for the constants or use the preset values.</li>
            <li>Select the domain for your function.</li>
            <span>Be careful! The natural log function is undefined when x <= 0. </span>
            <li>Pick your sum type.</li>
            <li>Decide whether you want to be able to pick the number of rectangles in the sum
               or the width of each rectangle.</li>
            <span>This option will not be available if your sum type is Simpson's Rule.</span>
            <li>Press the graph it button.</li>
            <span>This will only work if all of your inputs are valid.</span>
          </ol>
          <br>
          <h2>That's it!</h2>
        </div>
  </body>
</html>
