<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     @import url(http://fonts.googleapis.com/css?family=Open+Sans);
     {% load static %}
    <link href="{% static 'favicon.ico'" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/script.js'%}"> </script>
    <title>Learn More</title>
  </head>
  <body>

      <div class="acrdnBtn">
        <button class="accordion">Section 1</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
      </div>

  </body>
</html>
