{%extends 'base.html' %}

{% block contenct %}


<form action = '.' method = 'POST'>{% csrf_token %} 
	<input type = 'number' name = 'a' placeholder = "A" required="" />
	<input type = 'number' name = 'b' placeholder = "B" required="" />
	<input type = 'number' name = 'c' placeholder = "C" required="" />
	<input type = 'number' name = 'xmin' placeholder = "X min" required="" />
	<input type = 'number' name = 'xmax' placeholder = "X max" required="" />s
<input type = 'submit' value = 'Save' />
</form>

{% endblock %}