<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <title>About</title>
  </head>
  <body>
    <div class="all">
      <div class="navigation">
         <h1><a href="/" style="float:left;">Integral Visualizer</a></h1>
         <h2><a href="https://github.com/rilescode/integral-visualizer" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">GitHub</a></h2>
         <h2><a href="/learnmore" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Learn More</a></h2>
         <h2><a href="/about" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">About</a></h2>
         <h2><a href="/instructions" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Instructions</a></h2>
         <h2><a href="/" style="margin: -1.25% 2% 0% 0%; float:right;" class="nav-links">Home</a></h2>
      </div>
      <div class="content">
        <div class="typewriter">
          <h1>Meet the team...</h1>
        </div>
        <div class="bios">
          <div class="p1">
              <img src="{%static 'img/vidisha.jpg' %}" alt="Browser error: image not loading" id="circle">
              <h2>Vidisha G.</h2>
              <p>Vidisha Gupta is from Seattle, Washington. This project was based off of her CS III final project, so
                she worked on converting her Java code to Python. She also worked extensively on the website design.
                Her favorite part of this project was collaborating and spending time with her team.
                In her free time, you can find Vidisha at the library or petting her dog. </p>
              <div class="social-links">
                <a href="https://github.com/vidisha-gupta" target="_blank">GitHub</a>
                <a href="mailto:vidishag20@lakesideschool.org"> Email</a>
              </div>
          </div>
          <div class="p1">
            <img src="{%static 'img/riley.jpg' %}" alt="Browser error: image not loading" id="circle">
            <h2>Riley C.</h2>
            <p>Riley Crahen is a senior from Santa Cruz, California. He learned the basics of Django to help create
                a backend for this website. Riley enjoys surfing and playing water polo for his high school team.
                His favorite part of this project was working with some very smart people on a project he was deeply invested in.
            </p>
            <div class="social-links">
              <a href="https://github.com/rilescode" target="_blank">GitHub</a>
              <a href="mailto:rileycrahen@gmail.com"> Email</a>
            </div>
          </div>
          <div class="p1">
            <img src="{%static 'img/ella.jpg' %}" alt="Browser error: image not loading" id="circle">
            <h2>Ella R-O.</h2>
            <p>Ella Ramos-O'Neill is a junior from Portland, Oregon. She likes reading books and creating art,
               clothing, and bags. She worked on the frontend of the website and enjoyed learning
               HTML, CSS, and Javascript. Ella had a lot of fun working with and learning from her team.</p>
            <div class="social-links">
              <a href="https://github.com/eramosoneill" target="_blank">GitHub</a>
              <a href="mailto:ivyleaf09@gmail.com"> Email</a>
            </div>
          </div>
          <div class="p1">
            <img src="{%static 'img/mark.jpg' %}" alt="Browser error: image not loading" id="circle">
            <h2>Mark G.</h2>
            <p>Mark Gross is from Lake Oswego, Oregon. He likes math, robotics, and computer science.
              In this project, he worked on the Django backend as well as implementing the Simpson's Rule approximation.
              He found great joy in programming Simpson's Rule.</p>
            <div class="social-links">
              <a href="https://github.com/alephnull14177" target="_blank">GitHub</a>
              <a href="mailto:alpehnull14177@gmail.com"> Email</a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>
